// header
$header-height: 70px;

// Padding
$padding-inline: 5rem;

// Colors
$bg-primary: #0F3460;
$bg-secondary: #16213E;
$primary: #F82649;
$primary-light: hsl(350, 74%, 55%);
$primary-dark: hsl(350, 94%, 45%);
$secondary: #533483;
$text-primary: white;
$text-secondary: rgb(231, 227, 227);

// Font
$font: 'Noto Sans', sans-serif;